.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(218, 217, 217);
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.hamburger-menu:hover,
.youtube-logo:hover {
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
}


.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 520px;
}

.search-box {
    flex: 1;
    width: 0;
    height: 38px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(188, 188, 188);
    border-radius: 4px;
    box-shadow:  inset 1px 2px 5px rgba(128, 128, 128, 0.422);
}

.search-box::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-button {
    height: 38px;
    width: 66px;
    background-color: rgb(229, 229, 229);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(188, 188, 188);
    margin-left: -1px;
    margin-right: 10px;
}

.search-button,
.voice-button,
.upload-container,
.app-container,
.reldiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-container .tooltip,
.app-container .tooltip,
.reldiv .tooltip {
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    pointer-events: none ; /* disables tooltip hover*/
    white-space: nowrap; 
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-container:hover .tooltip,
.app-container:hover .tooltip,
.reldiv:hover .tooltip {
    opacity: 1;
}

.search-button:hover, 
.voice-button:hover, 
.upload-container:hover,
.app-container:hover,
.reldiv:hover {
    cursor: pointer;
}

.search-icon {
    height: 25px;
}

.voice-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(229, 228, 228);
}

.voice-icon {
    height: 24px;
}

.right-section {
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
}

.apps-icon {
    height: 24px;
}

.notification-icon {
    height: 24px;
}

.noti-count {
    position: absolute;
    top: -2px;
    right: -4px;
    background-color: rgb(191, 5, 5);
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.my-icon {
    height: 32px;
    border-radius: 16px;
}

.my-icon:hover {
    cursor: pointer;
}